@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{
  --primary: #D81E58;
    --secondary: #752133af;
    --light: #EEE;
    --light-alt: #eb6207;
    --dark: #131A26;
    --dark-alt: #ac095a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark);
  /* background: linear-gradient(to bottom, var(--primary), var(--dark)); */
}

a {
  text-decoration: none;
  color: #fcf8f8;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.log {
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 30px;
}
.logo {
  font-size: large;
  font-weight: 600;
  
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #e6e6e6;
  font-weight: 600;
}

.header ul li a:hover {
  color: #f1a80b;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0 20px;
  color: var(--light);
}

.dboard p {
  color: var(--light);
  margin-top: 0;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.goals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* margin-bottom: 20px; */
  margin: 35px;
}

.goal {
  margin: 10px;
  width: 100%;
  padding: 20px 0 10px;
  position: relative;
  color: #fff;
  font-size: 1rem;
  background-color: var(--dark-alt);
  box-shadow: 0px 2px 24px var(--secondary, 0.1);

  border-radius: 16px;
}

.goal .close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-weight: bolder;
  

  width: 26px;
  height: 26px;
  color: var(--light);
  background-color: var(--light-alt);
  border-radius: 50%;
  border: 1px solid var(--light-alt);

  display: flex;
  align-items: center;
  justify-content: center;
}

.form,
.content .cont {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid var(--primary);
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 24px var(--primary, 0.9);
  
}

.content h3 {
  color: var(--light);
}

.form p {
  color: var(--light);
  font-weight: 600;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 80%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: inherit;
}

.form-group label {
  text-align: center;
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--light-alt);
  border-radius: 5px;
  background: var(--light-alt);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 70% !important;
  
}



.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .form {
    width: 85%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .dboard p {
    font-size: 1.5rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .goals {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 480px) {
  .heading h1 {
    font-size: 1.5rem;
  }

  .heading p {
    font-size: 1rem;
  }

  .form {
    width: 75%;
  }

  .goals {
    grid-template-columns: repeat(1, 1fr);

  }

  .goal {
    font-size: 0.9rem;
  }

  .dboard p {
    font-size: 1rem;
  }

  
  
  .logo {
    font-size: 0.8rem;
  }

  .header .btn {
    font-size: 0.5rem;
  }

  .content h3 {
    font-size: 1rem;
  }
}